.RadioButton{
    label{
        padding: 0.4rem;
    }
    &:hover {
        background-color:rgba(0,0,255,0.5)
    }
}

input{ 
    display: none;
}

input:checked + input {
    background-color: red;
    color: white;

    transition: ease;
}